/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #343a40;
}

/* Form Styles */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-bottom: 40px;
}

form label {
    font-weight: bold;
    color: #495057;
    margin-top: 10px;
    display: block;
}

form input[type="text"],
form input[type="file"],
form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
}

form input[type="text"]:focus,
form input[type="file"]:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Button Styles */
form button {
    background-color: #007bff;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Recipe Display Styles */
#recipe-container {
    width: 100%;
    max-width: 800px;
}

.recipe {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe h2 {
    color: #343a40;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.recipe p {
    color: #6c757d;
    margin-bottom: 8px;
}

.recipe img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.add-recipe-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-recipe-button:hover {
    background-color: #218838;
}

.view-recipes-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.view-recipes-button:hover {
    background-color: #218838;
}
